body{
    background-color: #E1E1E1;
}
#enterfield{
    width: 70%;
    margin: auto;
}
#login{
    background-color: white;
    border-radius: 12px;
    font-size: 18px;
    width: 100%;
}
#titledesc{
    margin-top: 0%;
    margin-bottom: 5%;
}
#title{
    margin-top: 10%;
}
#top{
    margin-top: 3%;
}
.textinput{
    font-size: 20;
    margin: auto;
    padding: 0;
    display: block;
    width: 100%;
}
label{
    font-weight: normal;
    font-size: 14;
    margin: 0 2% 0 0;
}
